nav#sidebar
    #dismiss
        i.glyphicon.glyphicon-arrow-left
    .sidebar-header
        .latest_post
            h4
                span Latest post
            .latest_post_container
                ul.latest_postnav
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-1.jpg')
                            .post-content
                                h6.post-title Benoit Richard
                                    i  #{(new Date(Date.now()-300000)).toString().substring(0,21)}
                                span.post-text Donated $17.00 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-2.jpg')
                            .post-content
                                h6.post-title Dominic Dubuc
                                    i  #{(new Date(Date.now()-250000)).toString().substring(0,21)}
                                span.post-text Donated $11.02 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-3.jpg')
                            .post-content
                                h6.post-title Nicky Valiquette
                                    i  #{(new Date(Date.now()-234500)).toString().substring(0,21)}
                                span.post-text Donated $9.70 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-4.jpg')
                            .post-content
                                h6.post-title Karine Beloin
                                    i  #{(new Date(Date.now()-210045)).toString().substring(0,21)}
                                span.post-text Donated $33.5.00 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-5.jpg')
                            .post-content
                                h6.post-title Tigrou Bengale
                                    i  #{(new Date(Date.now()-200000)).toString().substring(0,21)}
                                span.post-text Donated $5.50 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-6.jpg')
                            .post-content
                                h6.post-title Marie-Pascale Brulotte
                                    i  #{(new Date(Date.now()-172359)).toString().substring(0,21)}
                                span.post-text Donated $20.00 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-7.jpg')
                            .post-content
                                h6.post-title Christian Turk
                                    i  #{(new Date(Date.now() - 107359)).toString().substring(0, 21)}
                                span.post-text Donated $100.00 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-8.jpg')
                            .post-content
                                h6.post-title Greg Mierzwinski
                                    i  #{(new Date(Date.now() - 57359)).toString().substring(0, 21)}
                                span.post-text Donated $55.00 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-9.jpg')
                            .post-content
                                h6.post-title Gregory McBean
                                    i  #{(new Date(Date.now() - 4000)).toString().substring(0, 21)}
                                span.post-text Donated $250.00 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-10.jpg')
                            .post-content
                                h6.post-title Yong Qu
                                    i  #{(new Date(Date.now() + 7359)).toString().substring(0, 21)}
                                span.post-text Donated $14.65 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-5.jpg')
                            .post-content
                                h6.post-title Benoit Bilodeau
                                    i  #{(new Date(Date.now() - 15359)).toString().substring(0, 21)}
                                span.post-text Donated $46.20 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-6.jpg')
                            .post-content
                                h6.post-title Patrick Roy
                                    i  #{(new Date(Date.now() + 57359)).toString().substring(0, 21)}
                                span.post-text Donated $2.23 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-7.jpg')
                            .post-content
                                h6.post-title Steven Nilson
                                    i  #{(new Date(Date.now() - 130359)).toString().substring(0, 21)}
                                span.post-text Donated $15.17 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-8.jpg')
                            .post-content
                                h6.post-title Rama Nilson
                                    i  #{(new Date(Date.now() - 160359)).toString().substring(0, 21)}
                                span.post-text Donated $1.99 to Fondation du CHUS
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='/images/avatar-9.jpg')
                            .post-content
                                h6.post-title Barack Obama
                                    i  #{(new Date(Date.now() - 200359)).toString().substring(0, 21)}
                                span.post-text Donated $45.12 to Fondation du CHUS